.container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1), url(images/sneakers/hero.jpg));
    background-color: violet;
    height: 100vh;
    background-position: center;
    background-size: cover;
}