.item {
    text-decoration: none;
    list-style: none;
    margin: auto;
    cursor: pointer;
}

.item__container {
    margin-left: 3.2rem;
}

.content__container {
    text-align: center;
}

.content__brand {
    text-transform: uppercase;
    font-size: 80%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.content__name {
    letter-spacing: 1.5px;
    font-size: 90%;
    text-transform: uppercase;
}

.content__price {
    margin-top: 0.5rem;
    font-size: 90%;
    margin-bottom: 2rem;
    color: grey;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1024px) {
    
}