.header__container {
    background-color: #f2f2f2;
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header__title {
    font-size: 80%;
    letter-spacing: 2px;
    font-style: italic;
}

.body__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    flex-direction: column;
}

.body__title {
    margin-bottom: 16px;
    font-size: 250%;
}

.body__content {
    font-size: 200%;
    width: 60%;
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
    line-height: 2;
}

.naiki {
    font-weight: 600;
    font-style: bold;
    font-size: 130%;
    text-decoration: underline;
}