.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 1.5rem auto 0rem auto;
    text-decoration: none;
}


@media screen and (max-width: 1366px) {
    .list {
        width: 100%;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 1024px) {
    .list {
        justify-content: center;
    }
}