.container {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-around;
}

.content {
    background-color: white;
    padding: 80px 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 280%;
    margin-bottom: 5px;
}

.title {
    font-size: 130%;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 130%;
    text-align: center;
    letter-spacing: 2px;
}

.subtitle p {
    margin-bottom: 2px;
}